.comments__item {
    width: calc((100%/3) - 13px);
    max-width: 382px;
    /* min-height: 213px; */
    display: flex;
    flex-direction: column;
}

.comments__image {
    width: 97px;
    padding-bottom: 97px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 42px;
}

.comments__item:nth-child(1) .comments__image {
    background-image: url(../../../../images/lyagushkin.jpg);
}

.comments__item:nth-child(2) .comments__image {
    background-image: url(../../../../images/hafizov.jpg);
}

.comments__item:nth-child(3) .comments__image {
    background-image: url(../../../../images/maksimshin.jpg);
}


.comments__quote {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    max-width: 382px;
    margin: 0 0 24px 0;
}

.comments__author {
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    margin: 0;
}

.comments__author cite {
    font-style: normal;
}

@media screen and (max-width: 800px) {
    .comments__item {
        width: 100%;
        align-items: center;
    }

    .comments__quote {
        font-size: 16px;
        line-height: 23px;
        order: 3;
        margin-bottom: 47px;
    }

    .comments__item:nth-child(3) .comments__quote {
        margin-bottom: 0;
    }

    .comments__image {
        margin-bottom: 16px;
        order: 1;
    }

    .comments__author {
        margin-bottom: 24px;
        order: 2;
    }
}