.video__item {
    width: calc(50% - 9px);
    background-image: url(../../../../images/kamchatka.jpg);
    background-size: cover;
    border-radius: 5px;
    position: relative;
}

.video__item:last-child {
    background-image: url(../../../../images/observatory.jpg);
}

@media screen and (max-width: 730px) {
    .video__item {
        width: 100%;
        margin-bottom: 15px;
    }
}