.intro__content-row {
    width: 100%;
    max-width: 683px;
    margin: 48px 0 24px;
}

@media screen and (max-width: 1024px) {
    .intro__content-row {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .intro__content-row {
        margin: 32px 0;
    }
}