.cover__title {
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 274px 0 0;
    width: 90%;
    position: absolute;
    left: 4%;
}

@media screen and (max-width: 1100px) {
    .cover__title {
        margin-top: 230px;
        width: 56%;
        left: 22%;
    }
}

@media screen and (max-width: 920px) {
    .cover__title {
        margin-top: 230px;
        width: 70%;
        left: 22%;
    }
}

@media screen and (max-width: 860px) {
    .cover__title {
        margin-top: 170px;
        left: 15%;
    }
}

@media screen and (max-width: 730px) {
    .cover__title {
        width: 90%;
        left: 6%;
    }
}

@media screen and (max-width: 600px) {
    .cover__title {
        width: 50%;
        font-size: 32px;
        line-height: 35px;
        left: 23%;
        margin-top: 104px;
    }
}

@media screen and (max-width: 450px) {
    .cover__title {
        left: 17%;
        width: 65%;
    }
}

@media screen and (max-width: 350px) {
    .cover__title {
        left: 15%;
        width: 70%;
        margin-top: 40px;
    }
}